* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.wrap-all {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-left: auto;
    margin-right: auto;
}

/* TYPOGRAPHY */
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.6em;
    margin-bottom: 8px;
    letter-spacing: .01em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

h5 {
    color: #cccccc;
    font-weight: 400;
    font-size: 16px;
}

ul {
    list-style: none;
}

.name-shop {
    font-family: 'Playfair Display', serif;
    font-size: 1.6em;
    font-weight: 700;
}

.price {
    font-size: 1.2em;
    font-weight: 400;
    color: #333;
}

.call {
    font-family: 'Playfair Display', serif;
    font-size: 1.6em;
}

/* BUTTON */
.cta {
    width: 70%;
}

.button {
    border-radius: 24px;
    height: 42px;
}

.login {
    border-radius: 24px;
    text-align: center;
}

/* HERO BANNER */
.img-container {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: top;
    height: 480px;
    border-radius: .3em;
}

.inner-container {
    width: 280px;
}

/* NAV TOP */
.nav-shop {
    border-bottom: 1px solid #e5e5e5;
}

.cart {
    font-size: 1.2em;
}

#icon-cart {
    height: 18px;
    width: 18px;
    background-color: tomato;
    border-radius: 50%;
    display: inline-flex;
    color: white;
    font-size: .8em;
    padding-left: 5px;
    position: absolute;
    right: 95px;
    bottom: 15px;
}

/* NAV SCROLLER */
.nav-scroller {
    position: relative;
    z-index: 2;
    overflow-y: hidden;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
}

/* MODAL */
.modal-body input {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding-left: 24px;
}

.modal-footer {
    justify-content: space-around;
}

/* SIGN UP */
.sign-up input {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    padding-left: 24px;
}

/* PRODUCT */
.carousel-inner {
    border-radius: .3em;
}

.quantity {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    width: 120px;
    padding-left: 24px;
}

.pot {
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 20px;
    height: 42px;
    padding-left: 24px;
}

/* COLOR PICKER */
.color-picker {
    display: flex;
    justify-content: space-around;
    width: 340px;
}

.color-picker span {
    display: flex;
    height: 20px;
    width: 70px;
    justify-content: center;
    align-items: flex-end;
    font-size: 10px;
    margin-top: 14px;
}

label:hover {
    cursor: pointer;
}

input[type="radio"] {
    display: none;
}

.green, .white, .black, .petroleum {
    border-radius: 100px;
    transition: 0.5s;
}

.green {
    background: linear-gradient(
        to bottom,
        green 0px, green 18px,
        white 18px, white 20px 
        );
}
    
.white {
    background: linear-gradient(
        to bottom,
        #ccc 0px, #ccc 18px,
        white 18px, white 20px 
        );
}

.black {
    background: linear-gradient(
        to bottom,
        black 0px, black 18px,
        white 18px, white 20px 
        );
}
    
.petroleum {
    background: linear-gradient(
        to bottom,
        mediumseagreen 0px, mediumseagreen 18px,
        white 18px, white 20px 
        );
}
        
input:checked + label {
    background-position: 0 -18px;
    /* color: white; */
}
            
/* CONTACT */
.grid-contact {
    display: flex;
    flex-flow: row wrap;
}

/* ABOUT */
.about-container img {
    width: 100%;
    border-radius: .3em;
}

/* .about-container {
    border: 3px solid lawngreen;
}

.about-row {
    border: 3px solid royalblue;
}

.about-col {
    border: 3px dotted tomato;
} */

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column a {
    color: #333;
}

footer input {
    padding: 8px;
    width: 70%;
    border: 1px solid #cccccc;
    border-radius: 20px;
}

footer input::placeholder {
    color: #cccccc;
}

                
/* RESPONSIVE */
@media (min-width: 576px) {
    .wrap-all {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrap-all {
        max-width: 740px;
    }
    
}

@media (min-width: 992px) {
    .wrap-all {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrap-all {
        max-width: 1140px;
    }
}