* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.dropdown-menu {
    left: -120px;
}

.img-container {
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: top;
    height: 700px;
}

.inner-container {
    width: 440px;
    position: absolute;
    margin: 5%;
}

h1 {
    font-weight: 700;
    font-size: 2.8em;
}

h3 {
    font-size: 1.2em;
    line-height: 1.8em;
}

.btn {
    border-radius: 24px;
    width: 200px;
    height: 44px;
}

h5 {
    color: #cccccc;
    font-weight: 400;
    font-size: 16px;
}

main {
    padding: 40px;
}

footer {
    display: flex;
    flex-direction: column;
}

.footer-column ul {
    list-style-type: none;
}

.footer-column a {
    color: #333;
}

footer input {
    padding: 8px;
    width: 70%;
    border: 1px solid #cccccc;
    border-radius: 20px;
}

footer input::placeholder {
    color: #cccccc;
}

footer .btn {
    width: 70%;
}

/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    main {
        padding: 15px;
    }
    
    .img-container {
        background-position: right;
    }

    .inner-container {
        width: 70%;
        margin-left: 10%;
        background-size: auto;
    }

    .inner-container h1 {
        font-size: 24px;
    }

    .inner-container h3 {
        font-size: 20px;
    }

    .shelf {
        width: 100%;
    }

    .card-deck {
        flex-flow: column wrap;
    }
    
  }